/lib
/logs
/reobf
/runtime
/CHANGELOG
/cleanup.bat
/decompile.bat
/getchangedsrc.bat
/LICENSE.txt
/recompile.bat
/reformat.bat
/reobfuscate.bat
/startclient.bat
/startserver.bat
/updateids.bat
/updatemcp.bat
/updatemd5.bat
/updatenames.bat
/forge
/temp
/bin
/conf
/docs
/eclipse
/jars
/src/minecraft_server
/src/common
/src/minecraft/Start.java
/src/minecraft/Thumbs.db
/src/minecraft/cpw
/src/minecraft/ibxm
/src/minecraft/net
/src/minecraft/paulscode
/src/minecraft/samples
/src/minecraft/sprites
/src/minecraft/forge_logo.png
/package_out
/package_temp
